<div class="container">
  <h1><%= @article.title %></h1>
  <p><%= @article.content %></p>

  <%=link_to "main page", articles_path, class: 'btn btn-primary' %>
  <%= link_to "edit article", edit_article_path, class: 'btn btn-secondary' %>
  <%= link_to "delete article", article_path(@article), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete?"}, class: 'btn btn-warning' %>
</div>
